// fonts

@import url('https://rsms.me/inter/inter.css');

// tailwind

@tailwind base;
@tailwind components;
@tailwind utilities;

// global

a,
button {
  @apply cursor-pointer;

  transition: 0.2s;
}

button,
input {
  &:focus {
    @apply outline-none;
  }
}

button {
  @apply flex items-center bg-primary text-white px-8 py-4 rounded font-semibold;

  transition: background-color 0.2s;

  &:hover {
    @apply bg-gray-800;
  }

  &:active {
    @apply bg-gray-700;
  }
}

input,
textarea {
  @apply border-2 border-gray-500 p-4 rounded outline-none w-full;

  transition: border-color 0.2s;

  &:focus {
    @apply border-gray-800;
  }

  &:disabled {
    @apply border-gray-300;
  }
}

label {
  @apply block my-8;

  span {
    @apply block mb-4 font-medium;
  }

  textarea {
    min-height: 10em;
  }
}

textarea {
  min-height: 8em;
}

// layout

#__next {
  @apply flex flex-col;

  min-height: 90vh;

  main {
    @apply flex flex-col flex-1 m-8;
  }
}

// responsive

@media (min-width: 640px) {
  input,
  textarea {
    @apply w-100;
  }
}
