// variables

$color-background: #fff;
$color-background-dark: #f6f7f8;
$color-foreground: #121212;
$color-primary: #111;
$color-accent: #333;

$line-height: 1.6;

// fonts

// @import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,700&display=swap');

// reset

* {
  border-radius: 0;
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

// global

a {
  color: $color-primary;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    color: lighten($color-primary, 20%);
  }

  &:active {
    color: darken($color-primary, 20%);
  }
}

body {
  background: $color-background;
  color: $color-foreground;
  margin: 0;
  font: normal 1em/1 'IBM Plex Mono', 'Inter var', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  appearance: none;
  background: $color-background;
  border-radius: 0.25em;
  border: 2px solid lighten($color-accent, 40%);
  font: inherit;
  line-height: normal;
  min-width: 20em;
  padding: 1em;
  transition: 0.2s;
}

button {
  background: $color-primary;
  border-color: $color-primary;
  border-radius: 0.25em;
  color: $color-background;
  cursor: pointer;
  font-weight: 600;
  min-width: auto;
  padding: 1em 2em;

  &:hover {
    background: lighten($color-primary, 20%);
  }

  &:active {
    background: darken($color-primary, 20%);
  }
}

input,
textarea {
  user-select: text;

  &:focus {
    border-color: $color-primary;
  }
}

textarea {
  line-height: $line-height;
  min-height: 10em;
}

code {
  font: normal 1em/1 'IBM Plex Mono', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
  line-height: $line-height;
}

form {
  label {
    display: block;
    margin: 2em 0;

    span {
      display: block;
      font-weight: 500;
      margin-bottom: 1em;
    }
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  margin: 1em 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1em;
  font-weight: 500;
}

hr {
  border: none;
  height: 1px;
  margin: 2em 0;
  position: relative;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ol,
ul {
  margin: 1em 0;

  li {
    line-height: $line-height;
    list-style: square;
    margin: 1em 0 1em 2em;
  }
}

p {
  line-height: $line-height;
  margin: 1em 0;
}

// layout

#__next {
  display: flex;
  flex-direction: column;
  min-height: 90vh;

  main {
    flex: 1;
    margin: 2em;

    > h1:first-child {
      margin-top: 0;
    }
  }
}
